{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block connexion %}
  {% if statusConnexion == true %}
		<a href="{{ path('connexion') }}" class="grid grid-cols-1 gap-0 w-auto mr-5 h-[100%] min-w-[60px]">
			<i class="fa fa-user-circle relative mx-auto text-3xl text-blue-700 mt-[10px]" aria-hidden="true"></i>
			<p class="mx-auto">Connexion</p>
		</a>
  {% else %}
    <a href="{{ path('connexion') }}" class="grid grid-cols-1 gap-0 w-auto mr-5 h-[100%] min-w-[60px]">
			<i class="fa fa-user-circle relative mx-auto text-3xl text-blue-700 mt-[10px]" aria-hidden="true"></i>
			<p class="mx-auto">Compte</p>
		</a>
  {% endif %}
{% endblock %}

{% block menu %}<script>var menuArray = JSON.parse({{menuJs|json_encode()|raw}})</script>{% endblock %}

{% block body %}
<main>
<h1 class="title mt-[80px] mb-10">Connexion</h1>
<p class="text-left  mx-[20px]"><a href="{{ path('app_home') }}">Accueil</a> > <a href="{{ path('connexion') }}">Connexion</a></p>
<div class=" max-w-full text-left flex mt-[70px]">
  <form id="formulaire" class="shadow-md rounded px-8 pt-6 pb-8 mb-4 m-auto w-[500px]" action="{{ path('connexion') }}" method="POST">
    <div class="mb-4 bg-white">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
        Email
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" name="email" type="email" placeholder="Email">
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Mot de passe
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="mdp" name="mdp" type="password" placeholder="******************">
    </div>
    <div class="mb-6">
        {% if message != "" %}
          <textarea id="erreur" disabled class="text-red-700 bg-white shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline min-h-[200px] max-h-[200px]">
            {{message}}
          </textarea>
        {% endif %}
    </div>
    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" name="envoie" id="envoie" type="submit">
        Connexion
      </button>
	  <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="{{ path('inscription') }}">
        S'inscrire
      </a>
      <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="{{ path('oublier') }}">
        Oublier?
      </a>
    </div>
  </form>
</div>
</main>
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('nav') }}
  {{ encore_entry_script_tags('connexion') }}
{% endblock %}
