{% extends 'base.html.twig' %}

{% block title %}CGU{% endblock %}

{% block connexion %}
  {% if statusConnexion == true %}
		<a href="{{ path('connexion') }}" class="grid grid-cols-1 gap-0 w-auto mr-5 h-[100%] min-w-[60px]">
			<i class="fa fa-user-circle relative mx-auto text-3xl text-blue-700 mt-[10px]" aria-hidden="true"></i>
			<p class="mx-auto">Connexion</p>
		</a>
  {% else %}
    <a href="{{ path('connexion') }}" class="grid grid-cols-1 gap-0 w-auto mr-5 h-[100%] min-w-[60px]">
			<i class="fa fa-user-circle relative mx-auto text-3xl text-blue-700 mt-[10px]" aria-hidden="true"></i>
			<p class="mx-auto">Compte</p>
		</a>
  {% endif %}
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/test_symfony/siteSono/vueSono/src/Controller/CguController.php'|file_link(0) }}">src/Controller/CguController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/test_symfony/siteSono/vueSono/templates/cgu/index.html.twig'|file_link(0) }}">templates/cgu/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
