{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block connexion %}
	{% if statusConnexion == true %}
		<a href="{{ path('connexion') }}" class="grid grid-cols-1 gap-0 w-auto mr-5 h-[100%] min-w-[60px]">
			<i class="fa fa-user-circle relative mx-auto text-3xl text-blue-700 mt-[10px]" aria-hidden="true"></i>
			<p class="mx-auto">Connexion</p>
		</a>
	{% else %}
		<a href="{{ path('connexion') }}" class="grid grid-cols-1 gap-0 w-auto mr-5 h-[100%] min-w-[60px]">
			<i class="fa fa-user-circle relative mx-auto text-3xl text-blue-700 mt-[10px]" aria-hidden="true"></i>
			<p class="mx-auto">Compte</p>
		</a>
	{% endif %}
{% endblock %}

{% block menu %}
	<script>
		var menuArray = JSON.parse({{ menuJs|json_encode()|raw }})
	</script>
{% endblock %}

{% block body %}
	<main>
		<script>var message = String('{{message}}')</script>
		<h1 class="title mt-[80px] mb-10">Profil</h1>
		<p class="text-left mx-[20px]">
			<a href="{{ path('app_home') }}">Accueil</a>
			>
			<a href="{{ path('profil') }}">Profil</a>
		</p>
		<div class="w-full text-right mt-[40px]">
			{% if id == 11 or id == 13 %}
				<a href="{{ path('liste_gestion') }}" class="bg-red-500 mr-[10px] hover:bg-blue-700 text-white font-semibold py-2 px-4 border border-gray-400 rounded shadow">Gestion Des Produits</a>
			{% endif %}
			<a href="{{ path('list_devis') }}" class="bg-white mr-[100px] hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">Devis</a>
		</div>
		<div class=" max-w-full text-left flex mt-[70px]">
			<form id="formulaire" class="shadow-md rounded px-8 pt-6 pb-8 mb-4 m-auto w-[500px]" action="{{ path('profil') }}" method="POST">
				<div class="mb-6 static">
					<label class="block text-gray-700 text-sm font-bold mb-2" for="nom">
						Nom
					</label>
					<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="nom" name="nom" type="text" placeholder="{{ account.nom }}" disabled>
					<a id="lock" href="nom" title="Déverrouiller le champ!" class="border rounded absolute h-[38px] w-[38px] ml-[-38px]"><img class="absolute h-[38px] w-[38px] bg-green-400 border rounded" src="./images/black-padlock-11736.svg"></a>
				</div>
				<div class="mb-6 static">
					<label class="block text-gray-700 text-sm font-bold mb-2" for="prenom">
						Prénom
					</label>
					<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="prenom" name="prenom" type="text" placeholder="{{ account.prenom }}" disabled>
					<a id="lock" href="prenom" title="Déverrouiller le champ!" class="border rounded absolute h-[38px] w-[38px] ml-[-38px]"><img class="absolute h-[38px] w-[38px] bg-green-400 border rounded" src="./images/black-padlock-11736.svg"></a>
				</div>
				<div class="mb-4 bg-white flex flex-wrap -mx-3">
					<div class="mb-4 bg-white md:w-1/2 px-3">
						<label class="block text-gray-700 text-sm font-bold mb-2" for="mdp">
							Mot de passe
						</label>
						<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="mdp" name="mdp" type="password" placeholder="******************" disabled>
					</div>
					<div class="mb-4 bg-white md:w-1/2 px-3">
						<label class="block text-gray-700 text-sm font-bold mb-2" for="confmdp">
							Confirmation du Mot de Passe
						</label>
						<input id="confmdp" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="confmdp" name="confmdp" type="password" placeholder="******************" disabled>
						<a id="lock" href="mdp" title="Déverrouiller le champ!" class="border rounded absolute h-[38px] w-[38px] ml-[-38px]"><img class="absolute h-[38px] w-[38px] bg-green-400 border rounded" src="./images/black-padlock-11736.svg"></a>
					</div>
				</div>
				<div class="mb-6 static">
					<label class="block text-gray-700 text-sm font-bold mb-2" for="societe">
						Nom de société
					</label>
					<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="societe" name="societe" type="text" placeholder="{{ account.nomEntreprise }}" disabled>
					<a id="lock" href="societe" title="Déverrouiller le champ!" class="border rounded absolute h-[38px] w-[38px] ml-[-38px]"><img class="absolute h-[38px] w-[38px] bg-green-400 border rounded" src="./images/black-padlock-11736.svg"></a>
				</div>
				<div class="mb-6 static">
					<label class="block text-gray-700 text-sm font-bold mb-2" for="email">
						Email
					</label>
					<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="email" name="email" type="email" placeholder="{{ account.email }}" disabled>
					<a id="lock" href="email" title="Déverrouiller le champ!" class="border rounded absolute h-[38px] w-[38px] ml-[-38px]"><img class="absolute h-[38px] w-[38px] bg-green-400 border rounded" src="./images/black-padlock-11736.svg"></a>
				</div>
				<div class="mb-6 static relative">
					<div class="w-full ">
						<label class="block text-gray-700 text-sm font-bold mb-2" for="dateNais">
							Date de naissance
						</label>
						<input class="appearance-none block w-full text-gray-700 border border-gray-200 rounded py-2 px-3 h-[38px] leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="date" name="date" type="date" value="{{ account.dateNais|date('Y-m-d') }}" disabled>
						<a id="lock" href="date" title="Déverrouiller le champ!" class="border rounded absolute h-[38px] w-[38px] mt-[-38px] right-0"><img class="absolute h-[38px] w-[38px] bg-green-400 border rounded" src="./images/black-padlock-11736.svg"></a>
					</div>
				</div>
				<div class="mb-6 static">
					<label class="block text-gray-700 text-sm font-bold mb-2" for="tel">
						Téléphone
					</label>
					<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="tel" name="tel" type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" placeholder="{{ account.tel }}" disabled>
					<a id="lock" href="tel" title="Déverrouiller le champ!" class="border rounded absolute h-[38px] w-[38px] ml-[-38px]"><img class="absolute h-[38px] w-[38px] bg-green-400 border rounded" src="./images/black-padlock-11736.svg"></a>
				</div>
				<div class="mb-6">
        			<textarea id="erreur" disabled class="text-red-700 bg-white shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline min-h-[200px] max-h-[200px] hidden">
        			</textarea>
    			</div>
				<div class="flex items-center justify-between">
					<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" name="envoie" id="envoie" type="submit">
						Sauvegarder
					</button>
          <button class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" name="deconnexion" id="deconnexion" type="submit">
						Déconnexion
					</button>
				</div>
			</form>
		</div>
	</main>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('nav') }}
	{{ encore_entry_script_tags('profil') }}
{% endblock %}
